---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Unit } from "../../type/content-blocks";

import MainLayout from "../../layouts/main.astro"
import Time from "../../components/time"
import ContentBlock from "../../components/content-block"

export async function getStaticPaths() {
  const units = await contentfulClient.getEntries<Unit>({
  		content_type: "unit",
	});

  let unitsToPublish = [];

  units.items.map((unit) => {
    unitsToPublish.push({
      params: {unit: unit.sys.id},
      props: unit
    });
  });

  return unitsToPublish;
}

const {unit_title} = Astro.props.fields;
---

<MainLayout title={unit_title}>
  <div class="flex gap-20">
    <div class="w-2/3">
      <h1 class="text-5xl font-bold mb-4">{unit_title}</h1>
    </div>
  </div>
</MainLayout>



