---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Unit } from "../../type/content-blocks";

import MainLayout from "../../layouts/main.astro"
import Time from "../../components/time"
import ContentBlock from "../../components/content-block"

export async function getStaticPaths() {
  const units = await contentfulClient.getEntries<Unit>({
  		content_type: "unit",
	});

  let unitsToPublish = [];

  units.items.map((unit) => {
    unitsToPublish.push({
      params: {unit: unit.sys.id},
      props: unit
    });
  });

  return unitsToPublish;
}

const {
  unit_description,
  unit_title,
  unit_activities
} = Astro.props.fields;

console.log(Astro.props.fields); // Log the entire fields object
console.log(unit_activities); // Log unit_activities to check its value
---

<MainLayout title={unit_title}>
  <div class="flex gap-20">
    <div class="w-2/3">
      <h1 class="text-5xl font-bold mb-4">{unit_title}</h1>
      <div set:html={documentToHtmlString(unit_description)}></div>
      <div class="mb-4">
        {unit_activities ? `${unit_activities.length} Activities` : 'No activities available'}
      </div>
    </div>
  </div>
</MainLayout>