---
	import Stack from "../../lib/cms";
	import MainLayout from "../../layouts/main.astro"
	import UnitCard from "../../components/cards/unit"
	
	const entries = await Stack.getEntry({
    	contentTypeUid: 'unit',
  	});

	const units = entries[0].map((item) => {
		return item;
	});
---

<MainLayout title={`Berklee Open: Units`}>
	<div class="flex gap-20">
		<div class="w-1/4"></div>
		<div class="w-3/4">
			<div class="grid grid-cols-2 gap-8">
		  		{units.map((unit) => (
			  	<UnitCard unit={unit} />
		  		))}
			</div>
		</div>
	</div>
</MainLayout>
