.boPlayerStyles {
  position: relative;
  :global {
    .list-player {
      background-color: rgba(58,65,67,.98);
      color: #FFF !important;
      position: relative;

      div.controller-panel {
        background: none;
        bottom: auto;
        top: 100px;
        margin: .5rem 0 0 0;
        padding: 0;
        justify-content: center;
        width: 100%;
      }
      button.play-btn {
        order: 2;
      }
    }

    div.track {
      align-items: flex-start;
    }

    div.meta-cont {
      display: flex !important
    }

    .lg-meta-cont {
      display: none !important;
    }

    .progress-bar-container {
      position: absolute;
      top: 75px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 70%;
    }

    .progress-jump {
      display: none;
    }

    .progress-jump-forward-btn {
      order: 4;
    }

    .progress-jump svg {
      fill: rgba(255, 255, 255, 0.7);
      width: 2rem;
      height: 2rem;
      padding: 0 .25rem;

      &:hover {
        fill: #FFF;
      } 
    }

    .progress-time-display {
      color: #FFF;
    }
    .lt-info-panel {
      align-items: center;
      justify-content: center;
    }
    .lt-info-art-placeholder-cont,
    .lt-info-img-cont {
      display: none;
    }
 
    div.lt-info-stats {
      display: none;
    }

    button.mute-btn {
      order: 5;
      position: absolute;
      right: 30px;
    }

    button.forward-btn {
      margin-right: 0;
    }
  }
}