---
import MainLayout from "../../layouts/main.astro";
// Import any other components you need
---

<MainLayout title="Berklee Open: Dashboard">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-4">Dashboard</h1>
    <p class="font-bold">Saved favorites, and settings coming soon.</p>
  </div>
</MainLayout>