---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Unit } from "../../type/content-blocks";

import MainLayout from "../../layouts/main.astro"
import Time from "../../components/time"
import ContentBlock from "../../components/content-block"

export async function getStaticPaths() {
  const units = await contentfulClient.getEntries<Unit>({
  		content_type: "unit",
	});

  let unitsToPublish = [];

  units.items.map((unit) => {
    unitsToPublish.push({
      params: {lesson: unit.sys.id},
      props: unit
    });
  });

  return unitsToPublish;
}

const {unit_title} = Astro.props.fields;
---

<MainLayout title={unit_title}>
	<div class="flex gap-20">
    <div class="w-1/4">
      activities here
    </div>
    <div class="w-3/4">
      more details here
    </div>
  </div>
</MainLayout>