

.richContentInnerStyles {
  margin-left: 2.4rem;
  
  h3 {
    font-size: 1.1rem;
    font-weight: 700;
  }

  ul, ol {
    margin: .75rem 0 .75rem 1.25rem;
    li {
      padding: .5rem;
    }
  }
  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  hr {
    margin: 1.5rem 0;
  }
}

.lessonActions {
  svg {
    font-weight: 900;
    height: 1.35rem;
  }
}

.listStyleCheck {
  li {
    list-style-type: circle;
  }
}

