---
	import MainLayout from '../layouts/main.astro';

	const units = [];
---

<MainLayout title={`Berklee Open`}>
	{units.map((unit) => (
		<li>
			<a href={`/units/${unit.url}`}>{unit.title}</a>	
		</li>
	))}
</MainLayout>
