---
	import MainLayout from '../layouts/main.astro';

	const units = [];
---

<MainLayout title={`Berklee Open`}>
	<div class="flex gap-20">
		<div class="w-full">
			<h1 class="text-xl text-bold text-center">Berklee Open Home Page</h1>
		</div>
	</div>
</MainLayout>
