---
	import Stack from "../lib/cms";
	import MainLayout from '../layouts/main.astro';
	
	const entries = await Stack.getEntry({
    	contentTypeUid: 'unit',
  	});

	const units = entries[0].map((item) => {
		const { title, url } = item;

		return {
			title,
			url
		}
	});
---

<MainLayout title={`Berklee Open`}>
	{units.map((unit) => (
		<li>
			<a href={`/units/${unit.url}`}>{unit.title}</a>	
		</li>
	))}
</MainLayout>
