.bo-swiper-wrapper {

}

.swiper {
    position: relative;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-size: cover;
  background-position: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mySwiperThumbs {
  cursor: pointer;
  height: auto;
  box-sizing: border-box;
  padding: 10px 0;

}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;

  .swiper-slide {
    background: transparent;
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}