html {
  scroll-behavior: smooth;
}

/* Search styles - TODO - move these to their own search file with search */

#searchbox {
    margin-bottom: 20px;
}

h1.search-header {
  font-size: 2.35rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 100%;
}

h2.search-term {
  font-size: 1.75rem;
  font-weight: 500;
}

.ais-SearchBox-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5rem;
  position: relative;
  width: 65%;
}

/* have to look into why there is a submit and a double reset button - hiding for now */

.ais-SearchBox-reset {
  display: none;
}

.ais-SearchBox-submit svg {
  fill: #777;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 20px;
  top: 19px;
}

.ais-SearchBox {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.ais-SearchBox-form {
  margin-bottom: 2rem;
}

.ais-SearchBox-input {
  background: #ecebee;
  border: double 2px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #9D84B4,#12A5D5);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  font-size: 1rem;
  padding: 1rem 1.5rem 1rem 3.5rem;
  width: 100%;
}

@media(max-width: 991px) {
  .ais-SearchBox-form {
    width: 100%;
  }
}

.ais-Hits {
  /* Remove any default margin/padding */
  margin: 0;
  padding: 0;
}

.ais-Hits-list {
/* Create the grid layout */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding: 0;
  list-style-type: none;
}

.ais-Hits-item {
/* Remove default list item styles */
  margin: 0;
  padding: 0;

  &:has(.search-unknown-content) {
    display: none;
  }
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .ais-Hits-list {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .ais-Hits-list {
      grid-template-columns: repeat(3, 1fr);
  }
}
