---
import '@fontsource-variable/nunito-sans'; // Supports weights 200-900
import App from "../components/app";
import Header from "../components/header";
import { ViewTransitions } from 'astro:transitions';
import type { HeaderProps } from "../type/layout";
import '../css/global.scss';
import '../fontAwesome'; // Font Awesome...obviously.
import AuthHandler from "../components/account/account-auth-handler";


let header: HeaderProps | undefined = undefined;

const { title, cssClass } = Astro.props;

---
<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8">
    <ViewTransitions />
    <link href="/favicon.svg" rel="shortcut icon" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <App client:load>
      <AuthHandler client:load />
      <Header text={title} client:load />
      <main class={cssClass}>
        <div class="px-6 mx-auto w-full pt-16 max-w-[1536px]" transition:animate="slide">
          <slot />
        </div>
      </main>
    </App>
  </body>
</html>
